*.png
*.swp
*.json
*.csv
.env
.DS_Store

canonicas/
data/*
!data/indices/
!data/indices/f_sn.npz
!data/icono.jpeg
!data/docs/
!data/docs/eval.png
!data/docs/reconstruccion.png
!data/docs/transform_grid.png
!presentacion/imagenes/*
__pycache__/

/imagenes
/.claude 
/venvPerk
PillIdentifier/app/src/main/assets/pills

presentacion/*.vrb
presentacion/*.log
presentacion/*.aux
presentacion/*.out
presentacion/*.toc
presentacion/*.gz
presentacion/*.zip
presentacion/*.fls
presentacion/*.fdb_latexmk
presentacion/*.synctex.gz
presentacion/*.snm
presentacion/*.nav

